PORT=5000
# Optional: Set your local MongoDB or Atlas URI below.
# If left commented or empty, Miligrams automatically initializes an embedded in-memory MongoDB instance!
# MONGODB_URI=mongodb://127.0.0.1:27017/miligrams
